.pagination{
    display: flex;
  flex-direction: column;
  width: 100%;
}

.pagination ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
  }
  
  .pagination li span {
    cursor: pointer;
    background-color: #f4a462;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .pagination li span:hover {
    background-color: #e8c468;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
