.navbar {
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#e76e50;
  }

  .input {
  padding: 8px;
  border-radius: 4px;
  border: none;
  color: #00416A;
  }

  .button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #00416A;
    color: white;
    cursor: pointer;
  }

.title {
 font-family:monospace  ;
 font-size: 2em;
 color:#274754;
 text-decoration: none;
 transition: color 0.2s ease;
}

.title:hover {
  color: #007b9f; /* Cambia el color al pasar el mouse */
}





