.searchbar {
    display: flex;
    align-items: center;
    max-width: 300px; /* Ancho máximo del searchbar */
    margin: 0 auto;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden; /* Para ocultar cualquier contenido que se desborde */
  }
  
  .searchbar input[type="text"] {
    flex: 1; /* El input ocupará todo el espacio disponible */
    padding: 8px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent; /* Hace que el fondo del input sea transparente */
  }
  
  .searchbar button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #274754;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0; /* Bordes redondeados solo en el lado derecho del botón */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .searchbar button:hover {
    background-color: #274754; /* Color de fondo al pasar el cursor sobre el botón */
  }