.landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-image: url('./fondoLanding.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .landing h1 {
    font-family:monospace  ;
    color: #2a9d90; 
    font-size: 80px; 
    margin-top: 20vh; /* Mueve el título hacia arriba 20% del alto del viewport */
    text-shadow: 2px 2px 4px#274754; 
  }

  .landing button {
    background-color: #274754; 
    color: white;
    border-radius:5px;
    font-size: 25px; 
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .landing button:hover {
    background-color: #2a9d90;
  }